
.metro {
  -webkit-font-smoothing: antialiased;
}


/*************************************
              COLORS
*************************************/
.content::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: image-url('fred4.jpg');
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

.content {
  z-index: 20 !important; }

/*************************************
          SIDE MENU
*************************************/

.menu-side {

  div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  a {
    position: absolute;
  }

  .progress {
    width: 250px;
    height: 62.59375px;
    top: 62px;
    z-index: 0;
  }

}




/*************************************
          COURSE CONTAINER
*************************************/
.course-list{
  width: 1140px !important;
  margin: 0 auto 50px;
  padding: 10px !important;

  &.core {
    background-color: rgba(0, 138, 0, .5);
    border: 1px rgba(0,138,0, .5) solid;

    .list {
      border: 1px rgba(0, 138, 0, 0.5) solid;
    }
  }

  &.tech {
    background-color: rgba(22,73,154, .5);
    border: 1px rgba(22,73,154, 0.5) solid;

    .list {
      border: 1px rgba(22,73,154, 0.5) solid;
    }
  }

  &.math {
    background-color: rgba(191,90,21, .5);
    border: 1px rgba(191,90,21, .5) solid;

    .list {
      border: 1px rgba(191,90,21, .5) solid;
    }
  }

  &.breadth {
    background-color: rgba(216, 0, 115, .5);
    border: 1px rgba(216, 0, 115, .5) solid;

    .list {
      border: 1px rgba(216, 0, 115, .5) solid;
    }
  }

  &.elective {
    background-color: rgba(170, 0, 255, .5);
    border: 1px rgba(170, 0, 255, .5) solid;

    .list {
      border: 1px rgba(170, 0, 255, .5) solid;
    }
  }
}

.content-wrap .content {

  .core::before,
  .tech::before,
  .math::before,
  .breadth::before,
  .elective::before{
    position: absolute;
    left: -10px;
    top: -30px;
    color: #fff !important;
    margin: 5px 10px;
    font-family: 'Raleway', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
    font-weight: 100 !important;
    font-size: 3rem !important;
    line-height: 1.3rem !important;
    letter-spacing: 0.4em;
    color: #000;
    font-size: 1.4rem;
    line-height: 1.4rem;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    border: none;
  }

  .core::before {
    content: "Core Courses";
  }

  .tech::before {
    content: "Technical Electives";
  }

  .math::before {
    content: "Math and Statistics Core Courses";
  }

  .breadth::before {
    content: "Breadth Core -- WRITTING ????";
  }

  .elective::before {
    content: "Free Electives";
  }


}

/*************************************
          COURSE BOXES
*************************************/

.course-box {
  width: 24% !important;
  margin: 0.5% !important;
  border-color: #fff; 
  display: inline-block; 
  float: left;
}

.course-box:nth-child(5n - n - 1) {
  clear: both;
}

.tooltip{
    display: inline;
    position: relative;
}

.taken,
.enrolled {
  width: 50%;
  height: 100%;
  display: inline-block;
  float: left;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  background-position: 50% 50%;
}

.core {
  .taken {
    background-image: image-url('core_check_mark-128.png');
    border-right: 1px #a4c400 solid;
  }

  .enrolled {
    background-image: image-url('core_currently_taking-128.png');
    border-left: 1px #a4c400 solid;
  }
}

.tech {
  .taken {
    background-image: image-url('tech_check_mark-128.png');
    border-right: 1px #1ba1e2 solid;
  }

  .enrolled {
    background-image: image-url('tech_currently_taking-128.png');
    border-left: 1px #1ba1e2 solid;
  }
}

.math {
  .taken {
    background-image: image-url('math.png');
    border-right: 1px #f0a30a solid;
  }

  .enrolled {
    background-image: image-url('math_currently_taking-128.png');
    border-left: 1px #f0a30a solid;
  }
}

.overlay-fluid {
  position: absolute;
  width: 100%;
  height: calc(100% + 2px);
  overflow: hidden;
  background-color: #1e1e1e;
  padding: 5px 10px;
  opacity: .8;
  bottom: -55px;
  font-size: 8pt;
  color: #fff;
  visibility: hidden;
}

.course-box:hover .overlay-fluid {
  -webkit-transform: translate(0, -54px);
  -ms-transform: translate(0, -54px);
  -o-transform: translate(0, -54px);
  -moz-transform: translate(0, -54px);
  transform: translate(0, -54px);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: visible;
}

.tooltip:hover:after{
    background: #4390DF;
    border-radius: 20px;
    bottom: 88px;
    color: #fff;
    content: attr(data-tooltip);
    left: 0%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 200%;
    white-space: pre-line;
}

.core .tooltip:hover:after {
  background-color: rgb(0, 138, 0);
}

.tech .tooltip:hover:after {
  background-color: rgb(22, 73, 154);
}

.math .tooltip:hover:after {
  background-color: rgb(191, 90, 21);
}

.tooltip:nth-child(4n) {
  &:hover:after {
    width: 100%;
    left: -6%;
  }
}

.tooltip:hover:before{
    border: solid;
    border-width: 9px 8px 0 8px;
    bottom: 79px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.core .tooltip:hover:before {
  border-color: rgb(0, 138, 0) transparent;
}

.tech .tooltip:hover:before {
  border-color: rgb(22, 73, 154) transparent;
}

.math .tooltip:hover:before {
  border-color: rgb(191, 90, 21) transparent;
}